section.modal
  display none
  width 400px
  position fixed
  top 50%
  left 50%
  margin-top -150px
  margin-left -200px
  background-color #444
  border
  border-radius(15px)
  box-shadow(inset, 0, 0, 20px, #aaa)
  z-index 5
  color #fff
  span.close_box
    position absolute
    top 15px
    right 15px
    font-size 16px
    font-weight bold
    cursor pointer

  label
    float left
    width 70px
  ul
    padding-top 15px
    li
      padding 7px

.popup_background
  display none
  height 100%
  width 100%
  background rgba(10,10,10,0.9)
  z-index 4
  position fixed
  top 0
  left 0