section.add_photo_form.modal
  span.close_box X
  form(action="/submissions/"+contest._id, method="post", enctype="multipart/form-data", id="add_submission_form")
    ul
      li
        label(for="name") Name
        input(type="text", name="name")
      li
        label(for="submission") Image
        input.newfile(type="file", name="submission", id="submission")
      li
        button(type="submit") Submit
