extends ../layouts/layout

block subject
  header#subject.wrap
    

block content
  section#main.wrap
    h2 Current Contests        
    div.no_contests(data-bind="visible:no_current_contests") No Current Contests        
    ul.file_list(data-bind="visible:has_current_contests, foreach:all_current_contests")
      li
        a(data-bind="attr:{href:url}")
          h5(data-bind="text:name")
          ul.contest_thumb_list(data-bind="foreach:assets")
              li
                img(data-bind="attr:{src:square}")

    h2 Old Contests
    div.no_contests(data-bind="visible:no_old_contests") No Old Contests        
    ul.file_list(data-bind="foreach:old_contests")
      li
        a(data-bind="attr:{href:url}")
          h5(data-bind="text:name")
          ul.contest_thumb_list(data-bind="foreach:assets")
              li
                //img(data-bind="attr:{src:square}")
block scripts
  != embed_json(contests, 'contests')
    script
      var AppVM = new App(contests)
      ko.applyBindings(AppVM)