extends ../layouts/layout

block subject
  header#subject.wrap
    h1 Create an account

block content
  section#main.wrap
    form(action="/users", method="post")
      .clearfix
        input(type='text', name='name', placeholder='name', required='required')
      .clearfix
        input(type='email', name='email', placeholder='email', required='required')
      .clearfix
        input(type='password', name='password', placeholder='password', required='required', passminlength='5')
      .clearfix
        input.btn.primary(type="submit") Submit