extends ../layouts/layout

block subject
  header#subject
    h1 All systems go!

block content
  section#main
    p Thank you for a being a part of this fantastic project!! You can view all submissions for the current contest, but you must be logged in to vote.  Thank you!!
