
@import 'normalize'
@import 'mixins'

@import 'lists'
@import 'headings'

@import 'messages'
@import 'navbar'

@import 'pages/user'
@import 'pages/submissions'
@import 'pages/contest'
@import 'pages/admin'

@import 'components/modal'
@import 'components/button'
@import 'components/confirm'

page_width = 930px

body
  background-color #ddd

#binder
  background-color #ccc
  box-shadow 0px 0px 25px #aaa, inset 0 0 10px #222
  border-radius 10px
  width page_width
  margin 20px auto
  padding 20px
  position relative

#subject
  margin-top 45px

.wrap
  max-width page_width
  margin 0 auto

footer
  padding 0
  border-radius 0 0 6px 6px
  position absolute
  width 968px
  bottom -40px
  left 0
  p
    padding 5px 30px
input
  width 200px
textarea
  height 150px
  width 200px
