!!! 5
html
  != partial("components/layout/head")
body(class = (is_logged_in) ? "logged-in" : "not-logged-in")
  div.popup_background
  #binder.container

    #navbar
      include ../includes/navbar

    != messages()

    block subject
      header#subject
        h1 Vote for the best!!

    block content

    block foot
      footer
        p &copy; 2012

    block scripts